<form [formGroup]="form" (submit)="onSubmit()">
  <div class="home">
    <div class="content">
      <h1>Üdvözöllek: {{userEmail}}</h1>
      <h2>Saját háztartási gépeim</h2>
      <h1>KALKULÁTOR</h1>
      <mat-form-field >
        <mat-label>{{ filteredOptionsRefrigerators ? 'Válassza ki a hűtőjét' : 'Hűtők betöltése...' }}</mat-label>
        <input type="text"
               placeholder="Válassz"
               aria-label="String"
               matInput
               formControlName="searchValueRefrigerator"
               [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete" >
          <mat-option *ngFor="let refrigerator of filteredOptionsRefrigerators | async" [value]="refrigerator.Modell">
            <div class="option-content">
              <p>Márka: {{refrigerator.Marka}}</p>
              <p>Modell: {{refrigerator.Modell}}</p>
              <p>Típus: {{refrigerator.Tipus}}</p>
              <p>Energiahatékonysági osztály: {{refrigerator.Energiahatekonysagi_osztaly}}</p>
              <p>Méret: {{refrigerator.Meret}} liter</p> <br>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ filteredOptionsFreezers ? 'Válassza ki a fagyasztóját' : 'Fagyasztók betöltése...' }}</mat-label>
        <input type="text"
               placeholder="Válassz"
               aria-label="String"
               matInput
               formControlName="searchValueFreezer"
               [matAutocomplete]="auto2">
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let freezer of filteredOptionsFreezers | async" [value]="freezer.Modell">
            <div class="option-content">
              <p>Márka: {{freezer.Marka}}</p>
              <p>Modell: {{freezer.Modell}}</p>
              <p>Energiahatékonysági osztály: {{freezer.Energiahatekonysagi_osztaly}}</p>
              <p>Típus: {{freezer.Tipus}}</p>
              <p>Méret: {{freezer.Meret}} liter</p> <br>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ filteredOptionsHot_plates ? 'Válassza ki a főzőlapját' : 'Főzőlapok betöltése...' }}</mat-label>
        <input type="text"
               placeholder="Válassz"
               aria-label="String"
               matInput
               formControlName="searchValueHot_plate"
               [matAutocomplete]="auto3">
        <mat-autocomplete #auto3="matAutocomplete">
          <mat-option *ngFor="let hot_plate of filteredOptionsHot_plates | async" [value]="hot_plate.Modell">
            <div class="option-content">
              <p>Márka: {{hot_plate.Marka}}</p>
              <p>Modell: {{hot_plate.Modell}}</p>
              <p>Típus: {{hot_plate.Tipus}}</p>
              <p>Teljesítmény: {{hot_plate.Teljesitmeny}} W</p> <br>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ filteredOptionsMicrowaves ? 'Válassza ki a mikrohullámú sütőjét' : 'Mikrohullámú sütők betöltése...' }}</mat-label>
        <input type="text"
               placeholder="Válassz"
               aria-label="String"
               matInput
               formControlName="searchValueMicrowave"
               [matAutocomplete]="auto4">
        <mat-autocomplete #auto4="matAutocomplete">
          <mat-option *ngFor="let microwave of filteredOptionsMicrowaves | async" [value]="microwave.Modell">
            <div class="option-content">
              <p>Márka: {{microwave.Marka}}</p>
              <p>Modell: {{microwave.Modell}}</p>
              <p>Típus: {{microwave.Tipus}}</p>
              <p>Teljesítmény: {{microwave.Teljesitmeny}} W</p> <br>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ filteredOptionsDishwashers ? 'Válassza ki a mosogatógépét' : 'Mosogatógépek betöltése...' }}</mat-label>
        <input type="text"
               placeholder="Válassz"
               aria-label="String"
               matInput
               formControlName="searchValueDishwasher"
               [matAutocomplete]="auto5">
        <mat-autocomplete #auto5="matAutocomplete">
          <mat-option *ngFor="let dishwasher of filteredOptionsDishwashers | async" [value]="dishwasher.Modell">
            <div class="option-content">
              <p>Márka: {{dishwasher.Marka}}</p>
              <p>Modell: {{dishwasher.Modell}}</p>
              <p>Típus: {{dishwasher.Tipus}}</p>
              <p>Energiahatékonysági osztály: {{dishwasher.Energiahatekonysagi_osztaly}}</p> <br>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ filteredOptionsDehumidifiers ? 'Válassza ki a páraelszívóját' : 'Páraelszívók betöltése...' }}</mat-label>
        <input type="text"
               placeholder="Válassz"
               aria-label="String"
               matInput
               formControlName="searchValueDehumidifier"
               [matAutocomplete]="auto6">
        <mat-autocomplete #auto6="matAutocomplete">
          <mat-option *ngFor="let dehumidifier of filteredOptionsDehumidifiers | async" [value]="dehumidifier.Modell">
            <div class="option-content">
              <p>Márka: {{dehumidifier.Marka}}</p>
              <p>Modell: {{dehumidifier.Modell}}</p>
              <p>Energiahatékonysági osztály: {{dehumidifier.Energiahatekonysagi_osztaly}}</p>
              <p>Teljesítmény: {{dehumidifier.Teljesitmeny}} W</p> <br>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ filteredOptionsOvens ? 'Válassza ki a sütőjét' : 'Sütők betöltése...' }}</mat-label>
        <input type="text"
               placeholder="Válassz"
               aria-label="String"
               matInput
               formControlName="searchValueOven"
               [matAutocomplete]="auto7">
        <mat-autocomplete #auto7="matAutocomplete">
          <mat-option *ngFor="let oven of filteredOptionsOvens | async" [value]="oven.Modell">
            <div class="option-content">
              <p>Márka: {{oven.Marka}}</p>
              <p>Modell: {{oven.Modell}}</p>
              <p>Energiahatékonysági osztály: {{oven.Energiahatekonysagi_osztaly}}</p>
              <p>Teljesítmény: {{oven.Teljesitmeny}} W</p> <br>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ filteredOptionsWashing_machines ? 'Válassza ki a mosógépét' : 'Mosógépek betöltése...' }}</mat-label>
        <input type="text"
               placeholder="Válassz"
               aria-label="String"
               matInput
               formControlName="searchValueWashing_machine"
               [matAutocomplete]="auto8">
        <mat-autocomplete #auto8="matAutocomplete">
          <mat-option *ngFor="let washing_machine of filteredOptionsWashing_machines | async" [value]="washing_machine.Modell">
            <div class="option-content">
              <p>Márka: {{washing_machine.Marka}}</p>
              <p>Modell: {{washing_machine.Modell}}</p>
              <p>Típus: {{washing_machine.Tipus}}</p>
              <p>Max töltetsúly: {{washing_machine.Max_toltetsuly}}kg</p>
              <p>Max centrifuga ford.szám: {{washing_machine.Max_cent_ford}}</p>
              <p>Energiahatékonysági osztály: {{washing_machine.Energiahatekonysagi_osztaly}}</p> <br>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ filteredOptionsDryers ? 'Válassza ki a szárítógépét' : 'Szárítógépek betöltése...' }}</mat-label>
        <input type="text"
               placeholder="Válassz"
               aria-label="String"
               matInput
               formControlName="searchValueDryer"
               [matAutocomplete]="auto9">
        <mat-autocomplete #auto9="matAutocomplete">
          <mat-option *ngFor="let dryer of filteredOptionsDryers | async" [value]="dryer.Modell">
            <div class="option-content">
              <p>Márka: {{dryer.Marka}}</p>
              <p>Modell: {{dryer.Modell}}</p>
              <p>Típus: {{dryer.Tipus}}</p>
              <p>Max töltetsúly: {{dryer.Max_toltetsuly}}kg</p>
              <p>Energiahatékonysági osztály: {{dryer.Energiahatekonysagi_osztaly}}</p> <br>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button type="submit">Mentés</button>
      <p>
        {{errorMessage}}
      </p>
    </div>
  </div>
</form>


