.home{
  background-image: url("/assets/home2.jpg");
  background-position: center top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  mat-form-field{
    width: 500px;
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
      width: 320px;
    }
  }

  h1{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  button:hover{
    background-color: lightblue;
    color: black;
  }

  p{
    margin-top: 8px;
    font-weight: bold;
    color: red;
  }

}


