<form [formGroup]="form" (submit)="onSubmit()">
  <div class="home">
    <div class="content">
      <div class="content">
        <h1>Bejelentkezés</h1>
        <mat-form-field>
          E-mail cím:
          <input matInput type="email" formControlName="email"  name="email" placeholder="Pl: pelda@pelda.pelda">
        </mat-form-field>

        <mat-form-field>
          Jelszó:
          <input matInput type="password" formControlName="password"  name="password">
        </mat-form-field>
        <button mat-raised-button class="loginbttn">Bejelentkezés</button>
        <span *ngIf="errorMessage" class="registration">{{errorMessage}}</span>

      </div>
    </div>
  </div>
</form>
