.home{
  background-image: url("/assets/home2.png");
  height: 800px;
  background-position: center top;
  background-size: cover;
}
.content{
  top: 40%;
  left: 3%;
  position: absolute;

}
.home h1{
  color: white;
  font-size: 45px;
  font-weight: bold;
}
