.home{
  background-image: url("/assets/home2.jpg");
  background-position: center top;
  background-size: cover;
  height: 140vh;
}

.content{
  padding: 17px;
}

.content h1{
  color: white;
  font-size: 34px;
  font-weight: bold;
}
.content h2{
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.content p{
  color: white;
  font-size: 16px;
}

