mat-sidenav{
  margin: 16px;
  width: 200px;
  border-right: none;
  background: burlywood;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
mat-sidenav-container{
  height: calc(100vh - 65px);
  background-color: #7B3A18;
}

.content{
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  font-family: Impact;
  color: burlywood;
  h1{
    font-family: Impact;
    font-size: 40px;
    margin-bottom: 20px;
  }
  h2{
    font-family: Impact;
    font-size: 27px;
    margin-top: 30px;
  }
  p{
    font-size: 17px;
    margin-top: 30px;
  }
}
.menu-button{
  font-family: Impact;
  margin-bottom: 10px;
}
