<form>
  <div class="home">
    <div class="content">
      <h1>Kalkulátor működése:</h1>
      <h2>Főzőlapok, sütők, mikrohullámú sütők, páraelszívók</h2>
      <p>Ezeknél a háztartási gépeknél az egyes gépek teljesítménye (hivatalos gyártói weboldalon lévő) alapján van kiszámolva az energiafogyasztásuk, ami azt jeleni, hogy az energiafogyasztási értékek a lehető legmagasabbak, mintha maximum teljesítményen mennének az eszközök.</p>
      <h2>Fagyasztók, hűtők, szárítógépek</h2>
      <p>A hivatalos gyártói weboldalon lévő energiacímkén megtalálható éves energiafogyasztási adatokból számol a kalkulátor. (A napi/évi kiírásnál ez van leosztva 1 napra/hónapra).</p>
      <h2>Mosogatógépek</h2>
      <p>A hivatalos gyártói weboldalon lévő energiacímkén megtalálható éves energiafogyasztási adatokból számol a kalkulátor. A címkén az energiafogyasztás kWh-ban 100 működési ciklusra vetítve (Eco programban) lévő érték van leosztva 1 működési ciklusra.</p>
      <h2>Mosógépek</h2>
      <p>A hivatalos gyártói weboldalon lévő energiacímkén megtalálható éves energiafogyasztási adatokból számol a kalkulátor. A címkén a súlyozott energiafogyasztás kWh-ban 100 működési ciklusra vetítve (Eco 40-60 programban) lévő érték van leosztva 1 működési ciklusra.</p>
    </div>
  </div>
</form>

