.home{
  background-image: url("/assets/home.png");
  height: 800px;
  background-position: center top;
  background-size: cover;
}
.content{
  top: 40%;
  left: 3%;
  position: absolute;

}
.home h1{
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.content a{
  text-decoration: none;
  background-color: white;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
}
.content a:hover{
  background-color: black;
  color: white;
}
.errorMessage{
  margin-top: 5px;
  color: red;
  font-weight: bold;
}
.stepBox{
  background-color: black;
  padding: 10px 10px;
  border-radius: 10px;
}
.stepBox h1{
  font-weight: bold;
  color: lightblue;
}
.stepBox p{
  color: white;
}
