<form>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <a mat-button class="menu-button" routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-button class="menu-button" routerLink="/kalkulator">
        <mat-icon>offline_bolt</mat-icon>
        <span>Kalkulátor</span>
      </a>
      <a mat-button class="menu-button" routerLink="/informaciok">
        <mat-icon>warning</mat-icon>
        <span>Fontos tudnivalók</span>
      </a>
      <a mat-button class="menu-button" routerLink="/bejelentkezes">
        <mat-icon>person</mat-icon>
        <span>Bejelentkezés</span>
      </a>
      <a mat-button class="menu-button" routerLink="/regisztracio">
        <mat-icon>person_add</mat-icon>
        <span>Regisztráció</span>
      </a>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <img src="assets/home.jpg" alt="home" width="1650" height="820">
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</form>
