<form [formGroup]="form" (submit)="onSubmit()" >
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <a mat-button class="menu-button" routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-button class="menu-button" routerLink="/kalkulator">
        <mat-icon>offline_bolt</mat-icon>
        <span>Kalkulátor</span>
      </a>
      <a mat-button class="menu-button" routerLink="/informaciok">
        <mat-icon>warning</mat-icon>
        <span>Fontos tudnivalók</span>
      </a>
      <a mat-button class="menu-button" routerLink="/bejelentkezes">
        <mat-icon>person</mat-icon>
        <span>Bejelentkezés</span>
      </a>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content" >
        <h1>Regisztráció</h1>
        <mat-form-field>
          Felhasználónév:
          <input matInput type="text" formControlName="username"  name="username">
        </mat-form-field>
        <mat-form-field>
          E-mail cím:
          <input matInput type="email" formControlName="email" name="Email-cím:" placeholder="Pl: pelda@pelda.pelda">
        </mat-form-field>
        <mat-form-field>
          Jelszó:
          <input matInput type="password" formControlName="password" name="password">
       </mat-form-field>        <mat-form-field>
        Jelszó megerősítése:
        <input matInput type="password" formControlName="confirmPassword" name="password">
      </mat-form-field>

        <button mat-raised-button class="registrationbttn" type="submit" >{{apiRequestInProgress ? "Töltés" : "Regisztráció"}}</button>
        <span *ngIf="show" class="registration">Sikertelen regisztráció!</span>
        <span *ngIf="errorMessage" class="registration">{{errorMessage}}</span>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</form>

