<form [formGroup]="form" (submit)="onSubmit()" >
  <div class="home">
    <div class="content">
      <div class="registration">
        <h1>Regisztráció</h1>
        <div class="input-group mb-3">
          <input type="text" formControlName="username"  name="username" class="form-control" placeholder="Felhasználónév:">
        </div>
        <div class="input-group mb-3">
          <input type="email" formControlName="email"  name="email" class="form-control" placeholder="E-mail cím:">
        </div>
        <div class="input-group mb-3">
          <input type="password" formControlName="password"  name="password" class="form-control" placeholder="Jelszó:">
        </div>
        <div class="input-group mb-3">
          <input type="password" formControlName="confirmPassword" name="password" class="form-control" placeholder="Jelszó újra:">
        </div>

        <button mat-raised-button type="submit" >{{apiRequestInProgress ? "Betöltés..." : "Regisztráció"}}</button>
        <div class="registrationerror">
        <span *ngIf="show" >Sikertelen regisztráció!<br/></span>
        <span *ngIf="errorMessage" >{{errorMessage}}</span>
        </div>
      </div>
    </div>
  </div>
</form>

