mat-sidenav{
  margin: 16px;
  width: 200px;
  border-right: none;
  background: burlywood;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
mat-sidenav-container{
  height: calc(100vh - 65px);
  background-color: #7B3A18;
}

.content{
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.menu-button{
  font-family: Impact;
  margin-bottom: 10px;
}

h1{
  color: burlywood;
  font-size: 40px;
  font-family: Impact;
}

mat-form-field{
  width: 300px;
  font-family: Impact;
}

.registrationbttn{
  font-size: 16px;
  font-family: Impact;
}
