<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="home">
    <div class="content">
      <div class="searchBar">
        <h1>KALKULÁTOR</h1>
        <mat-form-field >
          <mat-label>{{ filteredOptionsRefrigerators ? 'Válassza ki a hűtőjét' : 'Hűtők betöltése...' }}</mat-label>
          <input type="text"
                 placeholder="Válassz"
                 aria-label="String"
                 matInput
                 formControlName="searchValueRefrigerator"
                 [matAutocomplete]="auto1">
          <mat-autocomplete #auto1="matAutocomplete" >
            <mat-option *ngFor="let refrigerator of filteredOptionsRefrigerators | async" [value]="refrigerator.Modell">
              Márka: {{refrigerator.Marka}}
              Modell: {{refrigerator.Modell}}
              Típus: {{refrigerator.Tipus}}
              Méret: {{refrigerator.Meret}} liter
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ filteredOptionsFreezers ? 'Válassza ki a fagyasztóját' : 'Fagyasztók betöltése...' }}</mat-label>
          <input type="text"
                 placeholder="Válassz"
                 aria-label="String"
                 matInput
                 formControlName="searchValueFreezer"
                 [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let freezer of filteredOptionsFreezers | async" [value]="freezer.Modell">
              Márka: {{freezer.Marka}}
              Modell: {{freezer.Modell}}
              Energia o: {{freezer.Energiahatekonysagi_osztaly}}
              Típus: {{freezer.Tipus}}
              Méret: {{freezer.Meret}} liter
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ filteredOptionsHot_plates ? 'Válassza ki a főzőlapját' : 'Főzőlapok betöltése...' }}</mat-label>
          <input type="text"
                 placeholder="Válassz"
                 aria-label="String"
                 matInput
                 formControlName="searchValueHot_plate"
                 [matAutocomplete]="auto3">
          <mat-autocomplete #auto3="matAutocomplete">
            <mat-option *ngFor="let hot_plate of filteredOptionsHot_plates | async" [value]="hot_plate.Modell">
              Márka: {{hot_plate.Marka}}
              Modell: {{hot_plate.Modell}}
              Típus: {{hot_plate.Tipus}}
              Teljesítmény: {{hot_plate.Teljesitmeny}} W
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ filteredOptionsMicrowaves ? 'Válassza ki a mikrohullámú sütőjét' : 'Mikrohullámú sütők betöltése...' }}</mat-label>
          <input type="text"
                 placeholder="Válassz"
                 aria-label="String"
                 matInput
                 formControlName="searchValueMicrowave"
                 [matAutocomplete]="auto4">
          <mat-autocomplete #auto4="matAutocomplete">
            <mat-option *ngFor="let microwave of filteredOptionsMicrowaves | async" [value]="microwave.Modell">
              Márka: {{microwave.Marka}}
              Modell: {{microwave.Modell}}
              Típus: {{microwave.Tipus}}
              Teljesítmény: {{microwave.Teljesitmeny}} W
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ filteredOptionsDishwashers ? 'Válassza ki a mosogatógépét' : 'Mosogatógépek betöltése...' }}</mat-label>
          <input type="text"
                 placeholder="Válassz"
                 aria-label="String"
                 matInput
                 formControlName="searchValueDishwasher"
                 [matAutocomplete]="auto5">
          <mat-autocomplete #auto5="matAutocomplete">
            <mat-option *ngFor="let dishwasher of filteredOptionsDishwashers | async" [value]="dishwasher.Modell">
              Márka: {{dishwasher.Marka}}
              Modell: {{dishwasher.Modell}}
              Típus: {{dishwasher.Tipus}}
              Energiahatékonysági o: {{dishwasher.Energiahatekonysagi_osztaly}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ filteredOptionsDehumidifiers ? 'Válassza ki a páraelszívóját' : 'Páraelszívók betöltése...' }}</mat-label>
          <input type="text"
                 placeholder="Válassz"
                 aria-label="String"
                 matInput
                 formControlName="searchValueDehumidifier"
                 [matAutocomplete]="auto6">
          <mat-autocomplete #auto6="matAutocomplete">
            <mat-option *ngFor="let dehumidifier of filteredOptionsDehumidifiers | async" [value]="dehumidifier.Modell">
              Márka: {{dehumidifier.Marka}}
              Modell: {{dehumidifier.Modell}}
              Energiahatékonysági O: {{dehumidifier.Energiahatekonysagi_osztaly}} <br>
              Teljesítmény: {{dehumidifier.Teljesitmeny}} W
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ filteredOptionsOvens ? 'Válassza ki a sütőjét' : 'Sütők betöltése...' }}</mat-label>
          <input type="text"
                 placeholder="Válassz"
                 aria-label="String"
                 matInput
                 formControlName="searchValueOven"
                 [matAutocomplete]="auto7">
          <mat-autocomplete #auto7="matAutocomplete">
            <mat-option *ngFor="let oven of filteredOptionsOvens | async" [value]="oven.Modell">
              Márka: {{oven.Marka}}
              Modell: {{oven.Modell}}
              Energiahatékonysági O: {{oven.Energiahatekonysagi_osztaly}} <br>
              Teljesítmény: {{oven.Teljesitmeny}} W
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ filteredOptionsWashing_machines ? 'Válassza ki a mosógépét' : 'Mosógépek betöltése...' }}</mat-label>
          <input type="text"
                 placeholder="Válassz"
                 aria-label="String"
                 matInput
                 formControlName="searchValueWashing_machine"
                 [matAutocomplete]="auto8">
          <mat-autocomplete #auto8="matAutocomplete">
            <mat-option *ngFor="let washing_machine of filteredOptionsWashing_machines | async" [value]="washing_machine.Modell">
              Márka: {{washing_machine.Marka}}
              Modell: {{washing_machine.Modell}}
              Típus: {{washing_machine.Tipus}}  <br>
              Max töltetsúly: {{washing_machine.Max_toltetsuly}}kg
              Max centrifuga ford.szám: {{washing_machine.Max_cent_ford}}
              Energiahatékonysági O: {{washing_machine.Energiahatekonysagi_osztaly}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ filteredOptionsDryers ? 'Válassza ki a szárítógépét' : 'Szárítógépek betöltése...' }}</mat-label>
          <input type="text"
                 placeholder="Válassz"
                 aria-label="String"
                 matInput
                 formControlName="searchValueDryer"
                 [matAutocomplete]="auto9">
          <mat-autocomplete #auto9="matAutocomplete">
            <mat-option *ngFor="let dryer of filteredOptionsDryers | async" [value]="dryer.Modell">
              Márka: {{dryer.Marka}}
              Modell: {{dryer.Modell}}
              Típus: {{dryer.Tipus}} <br>
              Max töltetsúly: {{dryer.Max_toltetsuly}}kg
              Energiahatékonysági o: {{dryer.Energiahatekonysagi_osztaly}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div *ngIf="showAfterKalkulate">
          <h1>Villamosenergia fogyasztás csökkentő javaslatok:</h1>
          <mat-form-field class="searchBar2">
            <mat-label class="labelname">Ezeknek a hűtőknek a használatával javíthat a fogyasztásán:</mat-label>
            <mat-select class="matselect">
              <mat-option *ngFor="let refrigerator of refrigerators_w_lower_consumption" [value]="refrigerator" >
                Márka: {{refrigerator.Marka}}
                Modell: {{refrigerator.Modell}}
                Méret: {{refrigerator.Meret}} liter <br>
                Éves fogyasztás: {{refrigerator.Fogyasztasev}} kWh
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="searchBar2">
            <mat-label class="labelname">Ezeknek a fagyasztóknak a használatával javíthat a fogyasztásán:</mat-label>
            <mat-select class="matselect">
              <mat-option *ngFor="let freezer of freezers_w_lower_consumption" [value]="freezer" >
                Márka: {{freezer.Marka}}
                Modell: {{freezer.Modell}}
                Méret: {{freezer.Meret}} liter <br>
                Típus: {{freezer.Tipus}}
                Éves fogyasztás: {{freezer.Fogyasztasev}} kWh
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="searchBar2" >
            <mat-label class="labelname">Ezeknek a főzőlapoknak a használatával javíthat a fogyasztásán:</mat-label>
            <mat-select class="matselect">
              <mat-option *ngFor="let hot_plates of hot_plates_w_lower_consumption" [value]="hot_plates" >
                Márka: {{hot_plates.Marka}}
                Modell: {{hot_plates.Modell}}
                Fogyasztás: {{hot_plates.Fogyasztas}} kWh
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="searchBar2">
            <mat-label class="labelname">Ezeknek a mosogatógépeknek a használatával javíthat a fogyasztásán:</mat-label>
            <mat-select class="matselect">
              <mat-option *ngFor="let dishwasher of dishwashers_w_lower_consumption" [value]="dishwasher" >
                Márka: {{dishwasher.Marka}}
                Modell: {{dishwasher.Modell}}
                Tipus: {{dishwasher.Tipus}} <br>
                Fogyasztás 1 eco program alatt: {{dishwasher.Fogyasztas_kWh_eco_program}} kWh
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="searchBar2" >
            <mat-label class="labelname">Ezeknek a sütőknek a használatával javíthat a fogyasztásán:</mat-label>
            <mat-select class="matselect">
              <mat-option *ngFor="let oven of ovens_w_lower_consumption" [value]="oven" >
                Márka: {{oven.Marka}}
                Modell: {{oven.Modell}}
                Fogyasztás (hagyományos üzemmód): {{oven.Egy_uzemciklusra_vetitett_energiafogyasztas_hagyomanyos}} kWh/ciklus
                Fogyasztás (légkeveréses üzemmód): {{oven.Egy_uzemciklusra_vetitett_energiafogyasztas_legkevereses}} kWh/ciklus
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="searchBar2" >
            <mat-label class="labelname">Ezeknek a mosógépeknek a használatával javíthat a fogyasztásán:</mat-label>
            <mat-select class="matselect">
              <mat-option *ngFor="let washing_machine of washing_machines_w_lower_consumption" [value]="washing_machine" >
                Márka: {{washing_machine.Marka}}
                Modell: {{washing_machine.Modell}} <br>
                Fogyasztás egy eco 40-60 program alatt: {{washing_machine.Fogyasztas_eco_40_60_program}} kWh
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="searchBar2">
            <mat-label class="labelname">Ezeknek a szárítógépeknek a használatával javíthat a fogyasztásán:</mat-label>
            <mat-select class="matselect">
              <mat-option *ngFor="let dryer of dryers_w_lower_consumption" [value]="dryer" >
                Márka: {{dryer.Marka}}
                Modell: {{dryer.Modell}}
                Típus: {{dryer.Tipus}}
                Éves fogyasztás: {{dryer.Fogyasztasev}} kWh
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

      </div>
      <div class="hoursInput">
        <div class="asd">
          <div>
            A főzőlapját hány percet használja egy nap?
            <input type="number"
                   min="0"
                   max="1000"
                   formControlName="searchBarHot_plateMinutesInput">
          </div>
          <div>
            A mikrohullámú sütőjét hány percet használja egy nap?
            <input type="number"
                   min="0"
                   max="400"
                   formControlName="searchBarMicrowaveMinutesInput">
          </div>
          <div>
            A mosogatógépén hány eco programot használ egy nap?
            <input type="number"
                   min="0"
                   max="100"
                   formControlName="searchBarDishwasherEcoProgramCountInput">
          </div>
          <div>
            A páraelszívóját hány percet használja egy nap?
            <input type="number"
                   min="0"
                   max="1000"
                   formControlName="searchBarDehumidifierMinutesInput">
          </div>
          <div>
            A sütőjét hányszor használja egy nap (hagyományos mód)?
            <input type="number"
                   min="0"
                   max="100"
                   formControlName="searchBarOvenCicleCountInput">
          </div>
          <div>
            A mosógépén hány eco 40-60 programot használ egy nap?
            <input type="number"
                   min="0"
                   max="100"
                   formControlName="searchBarWashingMachineEcoProgram40_60CountInput">
          </div>

        </div>

        <button mat-raised-button type="submit"  value="szamolas" id="szamolasButton" (click)="setSubmitType('szamolas')">Számolás</button>
        <button mat-raised-button type="submit"  value="betoltes" id="betoltesButton" (click)="setSubmitType('betoltes')">Profil betöltése</button>
        <p class="errorMessage">{{errorMessage}}</p>
        <div class="recommendation" *ngIf="showBeforeKalkulate">
          <h1>Ajánlás, jelenleg ezek a legkevesebb vilamosenergiát fogyasztó háztartási gépek:</h1>
          <!-- Betöltési felirat -->
          <div *ngIf="!minrefrigerator || !minfreezer || !minhot_plate || !minmicrowave || !mindishwasher || !mindehumidifier || !minoventraditional || !minovenairmixing || !minwashing_machine || !mindryer">
            <p>Betöltés...</p>
          </div>
          <!-- Ha az adatok elérhetők, akkor megjelenítjük őket -->
          <ng-container *ngIf="minrefrigerator && minfreezer && minhot_plate && minmicrowave && mindishwasher && mindehumidifier && minoventraditional && minovenairmixing && minwashing_machine && mindryer">
            <p *ngFor="let huto of minrefrigerator" >
              Hűtő: {{huto.Marka}} {{huto.Modell}} {{huto.Fogyasztasev}} kWh/év
            </p>
            <p *ngFor="let fagyaszto of minfreezer">
              Fagyasztó: {{fagyaszto.Marka}} {{fagyaszto.Modell}} {{fagyaszto.Fogyasztasev}} kWh/év
            </p>
            <p *ngFor="let fozolap of minhot_plate">
              Főzőlap: {{fozolap.Marka}} {{fozolap.Modell}} {{fozolap.Fogyasztas}} kWh
            </p>
            <p *ngFor="let mikrohullamu_suto of minmicrowave">
              Mikrohullámú sütő: {{mikrohullamu_suto.Marka}} {{mikrohullamu_suto.Modell}} {{mikrohullamu_suto.Fogyasztas}} kWh
            </p>
            <p *ngFor="let mosogatogep of mindishwasher">
              Mosogatógép: {{mosogatogep.Marka}} {{mosogatogep.Modell}} {{mosogatogep.Fogyasztas_kWh_eco_program}} kWh/eco program
            </p>
            <p *ngFor="let paraelszivo of mindehumidifier">
              Páraelszívó: {{paraelszivo.Marka}} {{paraelszivo.Modell}} {{paraelszivo.Fogyasztas}} kWh
            </p>
            <p *ngFor="let suto of minoventraditional">
              Sütő: {{suto.Marka}} {{suto.Modell}} {{suto.Egy_uzemciklusra_vetitett_energiafogyasztas_hagyomanyos}} kWh/cilus (hagyományos üzemmód)
            </p>
            <p *ngFor="let suto of minovenairmixing">
              Sütő: {{suto.Marka}} {{suto.Modell}} {{suto.Egy_uzemciklusra_vetitett_energiafogyasztas_legkevereses}} kWh/cilus (légkeveréses üzemmód)
            </p>
            <p *ngFor="let mosogep of minwashing_machine">
              Mosógép: {{mosogep.Marka}} {{mosogep.Modell}} {{mosogep.Fogyasztas_eco_40_60_program}} kWh/eco 40-60 program
            </p>
            <p *ngFor="let szaritogep of mindryer">
              Szárítógép: {{szaritogep.Marka}} {{szaritogep.Modell}} {{szaritogep.Fogyasztasev}} kWh/év
            </p>
          </ng-container>
        </div>
        <div class="results"  *ngIf="showAfterKalkulate">
          <p>
            Napi áramfogyasztás: {{power_consumption_daily}} kWh, ára: {{power_consumption_daily_price}} Ft
          </p>
          <p>
            Havi áramfogyasztás: {{power_consumption_monthly}} kWh, ára: {{power_consumption_monthly_price}} Ft
          </p>
          <p>
            Évi áramfogyasztás: {{power_consumption_yearly}} kWh, ára: {{power_consumption_yearly_price}} Ft
          </p>
          <p>
            Kiválasztott hűtő éves fogyasztása: {{selected_refrigerator_y_c}} kWh
          </p>
          <p>
            Kiválasztott fagyasztó éves fogyasztása: {{selected_freezer_y_c}} kWh
          </p>
          <p>
            Kiválasztott szárítógép éves fogyasztása: {{selected_dryer_y_c}} kWh
          </p>
          <p>
            Kiválasztott főzőlap fogyasztása: {{selected_hot_plate_c}} kWh
          </p>
          <p>
            Kiválasztott sütő fogyasztása: {{selected_oven_c_traditional}} kWh/ckilus (hagyományos üzemmód)
          </p>
          <p>
            Kiválasztott sütő fogyasztása: {{selected_oven_c_airmixing}} kWh/ckilus (légkeveréses üzemmód)
          </p>
          <p>
            Kiválasztott mosogatógép fogyasztása 1 eco program alatt: {{selected_dishwasher_ep_c}} kWh
          </p>
          <p>
            Kiválasztott mosógép súlyozott fogyasztása 1 eco 40-60 program alatt : {{selected_washing_m_ep40_60_c}} kWh
          </p>
        </div>
      </div>
    </div>
  </div>
</form>
