<div class="container-fluid footer">
  <div class="row">

    <div class="col-lg-6">
      <h1>Villamosenergia költség monitorozása háztartásban</h1>
    </div>
    <div class="col-lg-5">
      <a routerLink="">Home</a>
      <a routerLink="informaciok">Tudnivalók</a>
      <a routerLink="bejelentkezes">Bejelentkezés</a>
      <a routerLink="regisztracio">Regisztráció</a>
    </div>
    <div class="col-lg-1">
      <a href=""><i class="bi bi-facebook"></i></a>
      <a href=""><i class="bi bi-instagram"></i></a>
    </div>
  </div>
</div>
